<ion-header>
    <ion-toolbar class="header-toolbar-color">
        <ion-title class="ion-title">
            Toll App
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="container">
    <ion-card class="card">
        <ion-label class="page-title">Thank You</ion-label>
        <ion-label class="page-title1">Your Transcation Was Successful</ion-label><br>
        <ion-label class="dash">---------------------------------------------------------------</ion-label>
        <ng-container>
            <ion-card-content>
                <ion-label>{{payementDetails.TranscationId}}</ion-label>
                <br>
                <ion-label>{{payementDetails.Routes[0].From +'-'+ payementDetails.Routes[0]?.To}}</ion-label>
                <br>
                <ion-label>{{payementDetails.exitlocation[0].Location}}</ion-label>
                <br>
                <ion-label>{{payementDetails.CreatedDate}}</ion-label>
                <br>
                <ion-label>{{payementDetails.Amount}}</ion-label>

                <ion-buttons slot="primary">
                    <ion-button color="secondary" (click)="gotopaymenthistory()">
                        Payment History
                    </ion-button>
                </ion-buttons>

                <ion-buttons slot="primary">
                    <ion-button color="secondary" (click)="gotoHomePage()">
                        Back To Home
                    </ion-button>
                </ion-buttons>
            </ion-card-content>
        </ng-container>
    </ion-card>
</ion-content>

















