.header-toolbar-color{
  --background: #3880ff;
  height: 63px;
}
.ion-title {
  font-size: 25px;
  padding: 11px 0;
  color :#f5f6f9;
  text-align: center;
}


.card {
  font-size: 13px;
  margin-top: 10px;
  padding-top: 9px;
  padding-bottom: 1px;
  padding-left: 19px;
}