<ion-header>
    <ion-toolbar class="header-toolbar-color">
        <ion-title class="ion-title">
            Toll App
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
    <div class="header">
    <ion-item>
        <ion-label color="medium" position="floating">Toll Plaza</ion-label>
        <ion-select placeholder="-Select Toll Plaza-" (ionChange)="getRoute($event)">
            <ion-select-option *ngFor="let tolllist of alltollplazas" [value]="tolllist.Id">{{tolllist.Location}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    </div>

    <div class="header">
    <div *ngIf="towords">
        <ion-label>Towards</ion-label>
        <div class="select-buttons">
            <ion-button class="check-button" (click)="selectTowords(towords[0]?.From,0)">{{towords[0]?.From}}>
            </ion-button>
            <ion-button class="check-button" (click)="selectTowords(towords[0]?.To,1)">{{towords[0]?.To}}</ion-button>
        </div>
    </div>
    </div>
        <div class="header">
    <div *ngIf="selectedTowards">
        <ion-label>Exit Location</ion-label>
        <div class="select-buttons">
            <ion-button class="check-button" *ngFor="let item of tollList"
                        (click)="exitLocation=item.Id">{{item.Location}}
            </ion-button>
        </div>
    </div>
        </div>
    <div *ngIf="exitLocation">
        <ion-item>
            <ion-label>Single Trip</ion-label>
            <ion-toggle></ion-toggle>
            <ion-label>Round Trip</ion-label>
        </ion-item>

        <div class="vehical-type">
      <span class="vehical" *ngFor="let vehicle of vehicleList" (click)="selectedVechileType(vehicle.VehicleTypeId)">
         <ion-img [src]=" '../../../assets/icon/'+vehicle.VehicleImg+'.svg'"></ion-img>
      </span>
        </div>
    </div>

    <div *ngIf="vehicleList">
        <ion-item>
            <ion-label position="floating">Vehicle Number</ion-label>
            <ion-input [formControl]="vechileNo"></ion-input>
        </ion-item>
    </div>

    <div *ngIf=invalidVechNo class="validator-error">
        Please enter a Vechile No.
    </div>

    <div *ngIf="tollCostData" class="header">
        <ion-label position="floating">You Pay</ion-label>
        <span class="cost-class">Rs.{{tollCostData.Cost}}</span>
        <ion-button class="btn" slot="primary" expand="block" color="primary" (click)="payNow(data)">Pay Now
        </ion-button>
    </div>

</ion-content>

























<!--<div class="select-buttons">-->
<!--<span class="check-button" *ngFor="let item of tollList"-->
<!--(click)="exitLocation=item.Id">{{item.Location}}</span>-->
<!--</div>-->














<!--<div class="select-buttons">-->
<!--<span class="check-button"  (click)="selectTowords(towords[0]?.From,0)">{{towords[0]?.From}}</span>-->
<!--<span class="check-button" (click)="selectTowords(towords[0]?.To,1)">{{towords[0]?.To}}</span>-->
<!--</div>-->